.table-view {
    -fx-base: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view.column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:focused {
    -fx-border-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
}