.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F
}
.button:pressed
{
-fx-background-color : #1620A1
}

#btnMenu{
    /*-fx-background-color: #001e2b;*/
    -fx-base:#001e2b;
    -fx-control-inner-background:#001e2b;
}

.menu-button{
    -fx-background-color : #05071F
    /*-fx-text-fill : #e7e5e5;*/
}
.menu-button:hover{
-fx-background-color : #10165F
}
.menu-button:pressed
{
-fx-background-color : #1620A1
}

.scroll-pane {
    -fx-background-color: #02030A
}

.context-menu{
    -fx-font-size: 14;
    -fx-background-color: #10165F
}
.context-menu,label:hover{
    -fx-text-fill:black
}

.label{
    -fx-text-fill:#e7e5e5
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em
}

.scroll-pane > .corner {
    -fx-background-color: black
}

#menu{
    -fx-background-color: #001e2b
}

#stack .label{
    -fx-text-fill: black
}