#vbox-main{

    -fx-background-color: #2c2c2c;
    
}

.text-field{
    /*-fx-background-color:#dedfdf;*/
    -fx-base:#c5c7c6;
    -fx-control-inner-background: #dedfdf;
    -fx-text-fill:#000000;
    -fx-font-size: 14px;
}

.combo-box, .list-view{
    -fx-base:#c5c7c6;
    -fx-control-inner-background:#dedfdf;
    -fx-font-size: 14px;
    
}

.button{
    -fx-base:#c5c7c6;
    -fx-control-inner-background:#c5c7c6;
    -fx-font-size: 14px;
}


.label{
    -fx-text-fill: white;
}

.checkbox{
    -fx-text-fill: white;
}

.button,.text{
    -fx-text-fill: black;
}

#obrigatorio{
    -fx-text-fill:#e74141;
}

/*#image-search{
    -fx-background-image: url("../icons/lupa.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center;
    -fx-background-size: 20px;
}*/